<% task = @task %>
<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>
<form action="<%= tasks_path %>/<%= task.id %>" method="patch" class="task<%= task.id %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group form-check">
    <% task.completed == true ? completed = 'checked' : completed = '' %>
    <label for="task<%= task.id %>-title">Title</label>
    <input type="text" id="task<%= task.id %>-title" class="form-control" name="title" value="<%= task.title %>">
  </div>
  <div class="form-group form-check">
    <% task.completed == true ? completed = 'checked' : completed = '' %>
    <label for="task<%= task.id %>-details">Details</label>
    <input type="text" id="task<%= task.id %>-title" class="form-control" name="title" value="<%= task.title %>">
  <div class="form-group form-check">
    <input class="btn btn-secondary mt-3" type="submit" value="submit">
  </div>
</form>
