<% task = @task %>
<div class="d-flex justify-content-between align-items-center">
  <h1><%= task.title %></h1>
  <%= link_to raw('<i class="fas fa-pen"></i> edit Task'), edit_task_path, { class: 'btn btn-primary' } %>
</div>

<div class="alert alert-secondary" role="alert">
  <%= task.details %>
</div>

<form action="<%= tasks_path %>" method="post" class="task<%= task.id %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="patch">
  <div class="form-group form-check m-0">
    <% completed = task.completed == true ? 'checked' : '' %>
    <% completed_label = task.completed == true ? 'done' : 'not done' %>
    <input type="checkbox" class="form-check-input" id="task<%= task.id %>" name="checkbox" <%= completed %>>
    <label class="form-check-label"><%= completed_label %></label>
    <input type="text" value="<%= task.id %>" name="id" hidden>
  </div>
<!-- <input type="submit" value="submit"> -->
</form>
<%= link_to raw('<i class="fas fa-trash-alt"></i> delete task'), task_path(@task), method: :delete %>
<div class="my-5">
  <%= link_to raw('<i class="fas fa-undo-alt"></i>&nbsp;back to list'), tasks_path %>
</div>
